@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gabarito", sans-serif;
}

body {
    background-color: #648DE5;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    display: none; /* Initially hidden */
}


/* -------------------form----------------------- */

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #eceff3;
    padding: 20px;
    border-radius: 15px;
}

form h1 {
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
}

form p {
    max-width: 400px;
    padding: 5px 0 5px 5px;
}

form input {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
    width: 100%;
}

select {
    margin-bottom: 20px;
    padding: 5px 0 5px 5px;
    font-size: 16px;
}

#user_type {
    width: 100%;
}

.btn{
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    border: rgb(77, 74, 74) 1px solid;
    border-radius: 10px;
    background-color: #eceff3;
    color: black;
}
/* ----------------delete------------------------- */

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

table {
    background-color:#eceff3;
    text-align: center;
}

th, td {
    border: 1px solid gray;
    padding: 5px;
}

.table-container .form-container {
    justify-content: start;
    height: auto;
}

.table-container form {
    background-color: #648DE5;
    text-align: center;
    border-radius: 0;
}