@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gabarito", sans-serif;
}

/* -------------------form----------------------- */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: #648DE5;
}

form {
    margin-top: -40px;
    background-color: #eceff3;
    padding: 20px;
    border-radius: 15px;
}

form h1 {
    margin-bottom: 30px;
    font-weight: 700;
}

form p {
    max-width: 400px;
    padding: 5px 0 5px 5px;
}

form input {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
}
